<div class="row m-5">
  <div class="container d-flex justify-content-center">
    <div class="card user-register-form" style="width: 30rem;height: 40rem;">
      <div class="card-body p-5">
        <h2 class="text-center mt-2 mb-5">註冊頁面</h2>
        <form action="/user/register" method="POST">
          <div class="form-row mb-3">
            <label class="form-label" for="name">名稱</label>
            <input class="form-control" id="name" type="text" name="name" class="form-control" placeholder="Name" required/>
          </div>
          <div class="form-row mb-3">
            <label class="form-label" for="email">電子信箱</label>
            <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email" required/>
          </div>
          <div class="form-row mb-3">
            <label class="form-label" for="password">密碼</label>
            <input class="form-control" id="password" type="password" name="password" class="form-control" placeholder="Password" required/>
          </div>
           <div class="form-row mb-5">
            <label class="form-label" for="confirmPassword">確認密碼</label>
            <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" class="confirmPassword" class="form-control" placeholder="Confirm Password" required/>
          </div>
          <div class="form-row d-flex flex-column align-item-center">
            <button
              class="btn btn-primary btn-block"
              style="background-color: #FF7575; border-color:#FF7575"
              type="submit">註冊</button>
          </div>
          <div class="mb-4 text-center mt-3">
            <p>已有帳號？<a
                href="/user/login"
                class="text-decoration-none"
              >請直接登入</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>