/* header + tab */
.category-item, .panel-item {
  margin-top: 20px;
  color: #BC8A8A;
}

.nav-pills .nav-link.active {
  background-color: #FFD2D2;
  border-radius: 15%;
  color: #C73838;
}

.category-item, .panel-item:hover {
  color: #C73838;
}

/* Product Panel */
.product-name {
  color: #BC8A8A;
}

.fa-eye, .view-counts {
  color: #8E8E8E
}

.product-name:hover {
  color: #C73838;
}

h1 {
  color: #4D4D4D;
}

.product-price {
  font-size: 25px;
}

/* Orders */
.cancelled {
  color: #D26900;
}

.unpaid {
  color: #EA0000;
}

.processing {
  color: #0072E3;
}


/* Footer */
footer a {
  color: #BC8A8A;
}

footer a:hover {
  color: #C73838;
}