<div class="container mt-5">

  <div class="row m-5">
    <div class="container d-flex justify-content-center">
      <div class="card" style="width: 35rem;height: 40rem;">
        <div class="card-body p-5">
          <h4
            class="text-center mt-2"
          >已成功寄送一組驗證碼到你的信箱！</h4>
          <p class="text-center mb-5 mt-3 fst-italic" style="color: #0080FF;">請繼續填寫以下資訊來完成重設密碼。</p>
          <form
            class="user-login-form"
            action="/users/forgetPassword"
            method="POST"
          >
            <div class="form-row m-3">
              <div class="mb-5 row">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="電子信箱"
                    value="{{email}}"
                    required
                  />
                </div>
              </div>
              <div class="mb-5 row">
                <label
                  for="verifyCode"
                  class="col-sm-4 col-form-label"
                >Verification Code</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    id="verifyCode"
                    type="text"
                    name="verifyCode"
                    class="form-control"
                    placeholder="驗證碼"
                    required
                  />
                </div>
              </div>
              <input type="hidden" name="isVerifyCode" value="{{verifyCode}}">
              <div class="mb-5 row">
                <label for="newPassword" class="col-sm-4 col-form-label">New
                  Password</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    id="newPassword"
                    type="text"
                    name="newPassword"
                    class="form-control"
                    placeholder="新密碼"
                    required
                  />
                </div>
              </div>
              <div class="mb-5 row">
                <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm
                  Password</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    id="confirmPassword"
                    type="text"
                    name="confirmPassword"
                    class="form-control"
                    placeholder="確認新密碼"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-row d-flex flex-column align-item-center">
              <button
                class="btn btn-primary btn-block"
                style="background-color: #FF7575; border-color:#FF7575"
                type="submit"
              >送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>